.div1{
    font-family: 'Press Start 2P', cursive;
    background-image: url(../assets/fondohome11.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height:100vh;
}

.divt{

    width: 900px;
    height: fit-content;
    margin: 10px;
    border: 3px solid black;
    border-radius: 7px;
    background-color: rgb(219, 218, 218, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: auto;

}

.butreturn{
    margin-top: 10px;
    font-family: 'Press Start 2P', cursive;
    cursor:pointer;


}
