.divprincipal{
    display: flex;
    flex-direction: row;
}

.ul{
    flex-direction: row;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.li{
    display: inline-block;
}

.bt1{
    background-color: white;
    color: black;
    border: 1px solid #777db8;
    font-family: 'Press Start 2P', cursive;
    margin-left: 10px;
    cursor: pointer;
border-radius: 20px;
}